@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss"; */

@layer utilities {
  /* Ocultar scrollbar para Chrome, Safari e Opera */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }

  /* Ocultar scrollbar para IE e Edge */
  .scrollbar-hide {
      -ms-overflow-style: none; /* IE e Edge */
       /* Firefox */
  }

  .blob-animation {
    animation: morph 6s ease-in-out infinite;
    clip-path: polygon(
      50% 0%, 70% 15%, 100% 35%, 100% 65%, 
      75% 100%, 50% 85%, 25% 100%, 0% 65%, 
      0% 35%, 25% 15%
    );
  }

  @keyframes morph {
    0%,
    100% {
      clip-path: polygon(
        50% 0%, 70% 15%, 100% 35%, 100% 65%, 
        75% 100%, 50% 85%, 25% 100%, 0% 65%, 
        0% 35%, 25% 15%
      );
    }
    50% {
      clip-path: polygon(
        45% 5%, 65% 10%, 95% 30%, 90% 70%, 
        70% 95%, 50% 90%, 30% 95%, 10% 70%, 
        5% 40%, 20% 20%
      );
    }
  }

}

::-webkit-scrollbar{
  width: 4px;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb{
  width: 4px;
  background-color: #006943;
  border-radius: 15px;
  border-radius: 0px 15px 0px 15px;
}

html {
  font-family: 'Quicksand', serif;
}
 
/* :root{
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark{
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

body{ 
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background .5s, color .5s;
}  */ 
